@model string

    <div class="row">
        <div class="offset-lg-2 col-lg-8 offset-lg-2">
            <div class="alert-success success-message">
                @Model
            </div>
        </div>
    </div>